<div class="jumbotron">
  <div class="container">
    <h1><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Patty Joe's Restaurant</h1>
    <h2>Come and <a href="#" data-toggle="tooltip" data-placement="bottom" title="Tooltip displays below">eat</a></h2>
  </div>
</div>
<div class="container">
  
  <div class="row text-center">
    
    <div class="col-md-4 col-sm-6">
      <div class="menu-list"><h2>Burgers</h2>
        <div class="menu-item"><h4 style="float:left">All American</h4></div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Chicken</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Drinks</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <i class="fa fa-birthday-cake"></i>
        <h2>Desserts</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Soups</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Salads</h2>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>